<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pricehistory of {{ product.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" class="datecontainer">
        <div>
          <p>Display price between</p>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput [min]="minDate" [max]="maxDate"
              [matDatepicker]="startDP" placeholder="Select the start date"
              [formControl]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDP"></mat-datepicker-toggle>
            <mat-datepicker #startDP></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <p>and</p>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput [min]="minDate"  [max]="maxDate"
              [matDatepicker]="endDP" placeholder="Select the end date"
              [formControl]="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDP"></mat-datepicker-toggle>
            <mat-datepicker #endDP></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <button mat-flat-button color="primary" (click)="applyTimeRange()">
            Submit
          </button>
        </div>
      </div>
      <div class="productpricechart" *ngIf="showChart">
        <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [options]="chartOptions">
        </canvas>
      </div>
      <div *ngIf="!showChart">
        <div class="center-card">
          <h1 class="mat-h1">No entries found.</h1>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
