<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div *ngIf="showTable">
    <button mat-fab class="addButton" color="accent" (click)="createUser()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-paginator [pageSizeOptions]="itemsPerPage" [pageSize]="numItems" showFirstLastButtons></mat-paginator>
    <mat-form-field class="full-width-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search in users">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="lastname" matSortDirection="asc" class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
        <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
        <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
      </ng-container>

      <!-- IsAdmin Column -->
      <ng-container matColumnDef="isadmin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin </th>
        <td mat-cell *matCellDef="let user" >
          <mat-icon *ngIf="user.is_admin" color="primary" mat-list-icon>star</mat-icon>
        </td>
      </ng-container>

      <!-- Rank Column -->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
        <td mat-cell *matCellDef="let user"> {{user.rankname}} </td>
      </ng-container>

      <!-- Credit Column -->
      <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Credit </th>
        <td mat-cell *matCellDef="let user" [style.color]="creditColor(user.credit)">
          {{user.credit | customCurrency | currency: 'EUR'}}
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="accent" (click)="editUser(user)">
            <mat-icon mat-list-icon>create</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="!showTable">
    <div class="container mat-typography">
      <h1>There are no users yet.</h1>
      <button mat-raised-button (click)="createUser()">
        Create a user
      </button>
    </div>

  </div>
</div>
