<mat-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
<div *ngIf="!loading">
  <h1 mat-dialog-title>Create a new replenishment</h1>
  <div mat-dialog-content>
    <p>
      Only enter products here that can be actively purchased by users.
      Products like milk, sugar but also items like delivery costs have to be
      entered as Payoff!
    </p>
    <form>
      <mat-form-field class="full-width-input">
        <input
          matInput placeholder="Comment"
          minlength="minCommentLength"
          maxlength="maxCommentLength"
          [formControl]="commentCtrl"
          required>
        <mat-hint align="end">
          {{commentCtrl.value.length}} / {{maxCommentLength}}
        </mat-hint>
        <mat-error *ngIf="commentCtrl.invalid">Invalid comment</mat-error>
      </mat-form-field>
    </form>

    <form class="mb-2">
      <div fxLayout
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
        <mat-form-field fxFlex="50%" cdkFocusRegionstart>
          <input matInput placeholder="Product" [matAutocomplete]="auto" [formControl]="productCtrl" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name">
              {{product.name}}
            </mat-option>
          </mat-autocomplete>
          <button mat-button *ngIf="productCtrl.dirty" matSuffix mat-icon-button (click)="resetForm()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="productCtrl.invalid">Invalid product</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <input matInput type="number" placeholder="Amount" [formControl]="amountCtrl" required>
          <mat-error *ngIf="amountCtrl.invalid">Invalid amount</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <input matInput type="number" placeholder="Sum price" [formControl]="totalPriceCtrl" required>
          <mat-error *ngIf="totalPriceCtrl.invalid">Invalid sum price</mat-error>
        </mat-form-field>
        <div>
          <button mat-icon-button class="inline-button" (click)="addProduct()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </form>

    <mat-list>
      <mat-list-item *ngFor="let replenishment of replenishmentList">
        <img matListAvatar [src]="imagePath(replenishment)">
        <h4 mat-line>
          <strong>{{replenishment.amount}}x </strong>
          {{getProductByID(replenishment.product_id).name}}
        </h4>
        <p mat-line> {{replenishment.total_price | customCurrency | currency: 'EUR'}} </p>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button (click)="deleteReplenishment(replenishment)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="replenishmentList.length > 0" class="replenishments-sum">
        <h3 matLine>Total price</h3>
        <span class="fill-remaining-space"></span>
        {{getReplenishmentsPrice() | customCurrency | currency: 'EUR'}}
      </mat-list-item>
    </mat-list>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">Submit</button>
</div>
<mat-error *ngIf="closeAttempt">Press again to close. WARNING: YOUR DATA WILL BE LOST!</mat-error>
