.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.right {
  float: right;
}

.content {
  margin: 1rem;
}

.userinfo {
  margin-top: 0;
  padding-top: 1rem;
  height: 190px;
  color: white;
  background-image: url('/assets/background.png') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.username {
  margin: 3rem auto 0;
  white-space: normal;
}

.avatar {
  margin: auto;
}

.mat-drawer-container {
  height: 100vh;
}
