.imageContainer {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.imageContainer .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}


.productname {
  padding-top: 1rem;
  text-align: center;
}

.uploadButton {
  position: fixed;
}
