<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div class="container"
       fxLayout="row wrap"
       fxLayoutAlign="center center"
       fxLayoutGap="0.5rem">
    <div fxFlex.lt-md="100%" fxFlex="24%" *ngFor="let tile of tiles">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>{{ tile.icon }}</mat-icon>
          </div>
          <mat-card-title class="title">{{ tile.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-actions>
          <button mat-button [routerLink]="tile.link">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-card class="mt-1">
    <mat-card-header>
      <h1 class="mat-h1">Financial overview</h1>
    </mat-card-header>
    <mat-card-content class="chart">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="chartOptions"
              [chartType]="'bar'">
      </canvas>
    </mat-card-content>
  </mat-card>
</div>

