.dashboard-card {
  color: white;
}

.dashboard-card mat-icon {
  font-size: 5rem;
  padding-top: 10px;
}

.text-right {
  text-align: right;
}

.dashboard-card h1 {
  font-size: 3rem;
}

.dashboard-card h2 {
  font-size: 2rem;
}
