div.mat-card-avatar > mat-icon {
  display: inline-flex;
  vertical-align: middle;
  font-size: 2rem;
}
.dashboard-card {
  margin-top: 0.5rem;
}

.title {
  margin-right: 0 !important;
  margin-left: auto !important;
}

.chart {
  width: 100%;
  margin: 0 auto;
  height: 400px;
}
