/** Angular material theme. */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/** Material design icons. */
@import "~material-design-icons/iconfont/material-icons.css";
/** Roboto font. */
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

$custom_red: #C62828;
$custom_green: #4CAF50;
$custom_cyan: #00B0FF;

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

table {
  width: 100%;
}

.full-width-input {
  width: 100%;
}

.error-snackbar {
  background: $custom_red;
  color: #ffffff;
  text-align: center;
}

.info-snackbar {
  background: $custom_cyan;
  color: #212121;
  text-align: center;
}

.success-snackbar {
  background: $custom_green;
  color: #ffffff;
  text-align: center;
}

.red-icon {
  color: $custom_red;
}

.green-icon {
  color: $custom_green;
}

.center-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.center-icon {
  margin: 0 auto;
}
