/** Angular material theme. */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/** Material design icons. */
@import "~material-design-icons/iconfont/material-icons.css";
/** Roboto font. */
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

.full-width-input {
  width: 100%;
}

.error-snackbar {
  background: #C62828;
  color: #ffffff;
  text-align: center;
}

.info-snackbar {
  background: #00B0FF;
  color: #212121;
  text-align: center;
}

.success-snackbar {
  background: #4CAF50;
  color: #212121;
  text-align: center;
}
