<mat-spinner *ngIf="loading"style="margin:0 auto;" mode="indeterminate"></mat-spinner>
<div *ngIf="!loading" class="mat-typography">
  <h1 mat-dialog-title>
    Stocktaking
    <span class="mat-small">
      {{ stocktakingcollection['timestamp'] | customTimestamp }}
    </span>
  </h1>
  <div mat-dialog-content>
    <table>
      <thead>
      <tr>
        <th>Product</th>
        <th>Count</th>
        <th>Difference</th>
        <th>Balance</th>
      </tr>
      </thead>
      <tr *ngFor="let stocktaking of stocktakingcollection.stocktakings">
        <td>
          <img class="product-image mr-1" [src]="imagePath(stocktaking)">
          <span>{{getProductByID(stocktaking.product_id).name}}</span>
        </td>
        <td>
          {{stocktaking.count}}
        </td>
        <td>
          {{stocktakingcollection.balance['products'][stocktaking.product_id]['difference']}}
        </td>
        <td>
          {{stocktakingcollection.balance['products'][stocktaking.product_id]['balance'] | customCurrency | currency: 'EUR'}}
        </td>
      </tr>
    </table>
  </div>
</div>
